<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.xamoom.tourismtemplate">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.android.xamoom.tourismtemplate.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" android:host="@string/deep_link"/>
                <data android:scheme="http" android:host="@string/deep_link"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="@string/deep_link"/>
                <data android:scheme="http" android:host="@string/deep_link"/>
            </intent-filter>


        </activity>

        <activity android:name="com.android.xamoom.tourismtemplate.ContentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.android.xamoom.tourismtemplate.OnboardActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.xamoom.tourismtemplate.FilterActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".QuizScoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".QuizzesActivity"
            android:screenOrientation="portrait" />

        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_key"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_ble" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

         <service
            android:name="com.xamoom.android.xamoomsdk.Helpers.PushTokenListener">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.xamoom.android.xamoomsdk.Helpers.PushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.xamoom.android.xamoomsdk.Helpers.GeofenceBroadcastReceiver"
            android:exported="false" >
            <intent-filter >
                <action android:name="com.xamoom.GeofecneBroadcastReceiver.name"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>